<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="/db.properties">
	</properties>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${usename}"/>
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers> <!-- 실제 적용할 SQL 문을 집합시킴 -->
		<mapper resource="co/song/prj/board/serviceImpl/board-map.xml" />
	</mappers>

</configuration>